

<div id="wrapper">
    <h1>Florida Man Times</h1>
    {{#each dbArticle}}
    <div>--------------------------------------------------------------------------------------------------------------------</div>
    <div id="articles"><p data-id="{{_id}}">{{title}}</p></div>
    {{!-- <div>{{link}}</div> --}}
    <a href="{{link}}" target="_blank">{{link}}</a>
    {{/each}}
    <div id="notes"></div>
</div>
