<a href="/scrape">SCRAPE ARTICLE</a>
<a href="/saved">SAVED ARTICLE</a>


<div id="wrapper">
    <h1>Florida Man Times</h1>
    <div id="notes"></div>

    {{#each dbArticle}}
    <div>--------------------------------------------------------------------------------------------------------------------</div>
    <div id="articles"><p>{{title}}</p></div>
    <a href="{{link}}" target="_blank">{{link}}</a>

    <button action="/save/{{_id}}" method="POST" class="save" value="">SAVE</button>
    <button data-id="{{_id}}" class="note" value="">NOTE</button>    

    {{/each}}
</div>
