    {{#each saved}}
    <div>--------------------------------------------------------------------------------------------------------------------</div>
    <div id="articles"><p data-id="{{_id}}">{{title}}</p></div>
    <a href="{{link}}" target="_blank">{{link}}</a>
    <button data-id="{{_id}}" class="delete" value="">DELETE</button>
    {{/each}}